****Data Science Tools and Ecosystem****

*****In this notebook, Data Science Tools and Ecosystem are summarized.*****

****Here is a list of the topics covered in this project****
1. Exercise 1: Create a Jupyter Notebook
1. Exercise 2 - Create a markdown cell with the title of the notebook.
1. Exercise 3 - Create a markdown cell for an introduction.
1. Exercise 4 - Create a markdown cell to list data science languages.
1. Exercise 5 - Create a markdown cell to list data science libraries.
1. Exercise 6 - Create a markdown cell with a table of Data Science tools.
1. Exercise 7 - Create a markdown cell introducing arithmetic expression examples.
1. Exercise 8 - Create a code cell to multiply and add numbers.
1. Exercise 9 - Create a code cell to convert minutes to hours.
1. Exercise 10 -Insert a markdown cell to list Objectives.
1. Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.
1. Exercise 12 - Share your notebook through GitHub
1. Exercise 13 - Take a screenshot of the first page of the notebook.

Some of the popular languages that Data Scientists use are:
1. Python 
1. R 
1. SQL 
1. Scala
1. Java
1. C++ 
1. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
1. Matplotlib
2. Scikit-learn
3. Pandas

Some examples of Data Science Tools and it's uses:
| Tools | Uses |
| -------------| ------ |
| Matplotlib | Used for data visualization |
| Python | Coding language largely used by data scientists for cleaning, visualization and machine learning |
| R | coding language designed specifically for statistical computing, data analysis |
| TensorFlow | helps to build and deploy machine learning models more efficiently |

***Below are a few examples of evaluating arithmetic expressions in Python***

In [1]:
# Arithmetic operations
ex = compile("14 + 3", "<string>", "eval")
eval(ex)
# Result: 17

17

In [2]:
ex1 = compile("(253 + 47) * 2", "<string>", "eval")
eval(ex1)
# Result: 600

600

In [3]:
# This a simple arithmetic expression to mutiply then add integers
ex8 = (3*4)+5
print(ex8)

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
hours, minutes = divmod(200, 60)
print(hours, minutes)

3 20

**Author:**

Ugochi Vivian